xterm*faceName: Source Code Pro for Powerline
xterm*faceSize: 9
xterm*utf: on
xterm*utf8: on
!xterm*geometry: 175x45+0+1

xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

Xft.dpi: 144
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 0

*VT100*translations:      #override \n\
    Shift <Key>Home:    copy-selection(SELECT) \n\
    Shift <Key>Insert:  copy-selection(SELECT) \n\
    Ctrl Shift <Key>C:  copy-selection(SELECT) \n\
    Ctrl Shift <Key>V:  insert-selection(SELECT)
